/* ----RESET---- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----/RESET---- */
body{
  font-family: 'Dosis', sans-serif;
  color: #00bb2d;
  background-color: #252525;
}
h1{
  text-align: center;
}
#lista_array{
  padding: 30px;
  list-style-type: none;
}
#lista_array li{
  border: 1px solid #00bb2d;
  padding-left: 5px;
}
